@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

.Header-style{
    position: relative;
    width: 100%;
    min-height: 110vh;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    justify-items: center;
}
.Blur-Header{
    background-image: url("../../assets/house_1.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: -1;
}

.WYK{
    font-size: 8.7em;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 800;
    color: rgb(197, 139, 64);
    text-shadow: 6px 3px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    align-content: center;
    display: flex;
    flex: none;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}

.Text-house{
    font-size: xx-large;
    color: azure;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: block;
    max-width: 600px;
    justify-content: center;
    justify-items: center;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .Header-style{
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    .Blur-Header{
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: center;
        height: 100%;
        top: 0;
        left: 0;
        background-repeat: repeat;
        z-index: -1;
    }
    .Text-house{
        padding: 0 10px;
    }
}