.Contact-style{
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.house-blur{
    background-image: url("../../assets/contact-image.jpg");
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    -webkit-filter: blur(2px);
    filter: blur(1px);
}

.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 20px;
}
