@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

.Contact-style{
    position: relative;
    width: 100%;
    min-height: 70vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

/*.house-blur{
    background-image: url("../../assets/contact-image.jpg");
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    -webkit-filter: blur(2px);
    filter: blur(1px);
}
*/
.contact-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

.colum-style{
    justify-content: start;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    color: aqua;
}

.logi{
    width: 180px;
    height: auto;
}

.tit-style{
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-size: 3.5rem;
    color: rgb(197, 139, 64);
    gap: 0;
    padding: 0;
    margin: 0;
}

.te-style{
    font-size: 2rem;
    color: azure;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    display: block;
    justify-content: center;
    justify-items: center;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .Contact-style{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 90vh ;
        width: 100%;
        padding-top: 0px;
    }

    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}